* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.bloc-1 {
  width: 1728px;
  height: 230px;
  flex-shrink: 0;
  background: #8ecae6;
  display: flex;
  align-items: center;
}

p {
  color: #fff;
  font-family: Heebo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 100% */
  width: 432px;
  height: 130px;
  border: 1px solid #146c81;
  background: #219ebc;
}

.bloc-2 {
  width: 1728px;
  height: 530px;
  flex-shrink: 0;
  background: #8ecae6;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.bloc-2 p {
  display: flex;
  flex-direction: column;
}

.bloc-3 {
  width: 1728px;
  height: 230px;
  flex-shrink: 0;
  flex-shrink: 0;
  display: flex;
  gap: 350px;
  background: #8ecae6;
}
